.card-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
  background-color: #44344f;
}
.title-container{
    width: 100%;
    text-align: center;
    margin: 5% 0; 
}
