@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter, Cambria, Cochin, Georgia, Times, "Times New Roman", serif, "sans-serif";
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 1, 0, 0.8078431373);
  color: #ebebeb;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  font-family: inter, sans-serif;
  max-width: 100%;
  width: 390px;
  min-width: 100%;
}

.btn {
  user-select: none;
  padding: 5px;
  background-color: #C2948A;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn:hover {
  border: 1px solid;
}

.btn3 {
  user-select: none;
  background-color: #C2948A;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn3:hover {
  border: 1px solid;
}

.btn2 {
  user-select: none;
  align-self: flex-start;
  padding: 5px;
  background-color: #28536B;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: small;
}
.btn2:hover {
  border: 1px solid;
}

.inputFormation::placeholder {
  color: white;
}

.inputFormation {
  border: 1px solid;
}

input[type=file] {
  display: none;
}

label.btn2 {
  font-weight: normal;
  font-size: small;
}

.inputFormation {
  background-color: #28536B;
  color: white;
}

header {
  background-color: #ebebeb;
  color: rgba(0, 1, 0, 0.8078431373);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  display: flex;
}

.title {
  width: 100%;
}

h1 {
  margin: 0;
  color: rgba(0, 1, 0, 0.8078431373);
  font-size: 24px;
}

.burger-container {
  display: flex;
  align-items: center;
}

.burger {
  position: relative;
  width: 40px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  overflow: visible;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
  width: 39px;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  width: 39px;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
  width: 39px;
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.burger-container.modal-open {
  z-index: 9999;
}

.burger-container.modal-open .burger span {
  background: white;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 12vh;
  width: 80%;
  height: 80%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles pour le select */
.formation-select {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles pour le bouton */
.formation-button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgba(0, 1, 0, 0.8078431373);
  font-size: 16px;
  cursor: pointer;
}

.formation-button:hover {
  background-color: rgba(0, 1, 0, 0.1215686275);
}

/* Styles pour le conteneur de select et bouton */
.select-container {
  display: flex;
  justify-content: center;
}

main {
  padding: 20px;
  background-color: #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0px 20px;
}

.menu-category {
  margin-bottom: 30px;
}

.menu-category h2 {
  margin: 0 10px 0 10px;
  font-size: 20px;
  color: rgba(0, 1, 0, 0.8078431373);
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item span {
  font-size: 16px;
  color: rgba(0, 1, 0, 0.8078431373);
}

.title-plat-container {
  display: flex;
  border-bottom: 2px solid rgba(0, 1, 0, 0.8078431373);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

svg {
  width: 24px;
  height: 24px;
  stroke-width: 1.5;
  fill: none;
  color: #000000;
}

.l {
  color: black;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.o {
  color: black;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.a {
  color: black;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d {
  color: black;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.i {
  color: black;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.n {
  color: black;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.g {
  color: black;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d1 {
  color: black;
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 1.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d2 {
  color: black;
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.buttons-container {
  color: rgba(0, 1, 0, 0.8078431373);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 30px 0;
}

.buttons-container button {
  padding: 1%;
  border-radius: 5px;
  background: none;
  color: rgba(0, 1, 0, 0.8078431373);
  font-weight: bold;
  font-size: 100%;
  border: 1px solid rgba(0, 1, 0, 0.8078431373);
  transition: 0.3s;
}

.buttons-container button:hover {
  background-color: rgba(0, 1, 0, 0.1450980392);
}

.buttons-container span {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 10px;
}

@keyframes pass {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pass1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background-color: #ebebeb;
  color: rgba(0, 1, 0, 0.8078431373);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  width: 100%;
}

@media (max-width: 800px) {
  footer {
    position: relative;
  }
}
.card-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
  background-color: #44344f;
}

.title-container {
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.vote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  width: 80%;
}

.emojiLogo {
  height: 50px;
  width: 50px;
  border: 5px solid transparent;
}

.emojiLogo:hover {
  height: 50px;
  width: 50px;
  border: 0;
}

.vote-container button {
  display: none;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ebebeb;
  color: rgba(0, 1, 0, 0.8078431373);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.vote-emoji.selected {
  opacity: 1;
}

/* Styling pour le conteneur principal */
.crossword-container {
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Styling pour la grille de mots croisés */
.crossword-grid {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  gap: 1px;
  background-color: #e0e0e0;
  border: 1px solid #333;
}

.crossword-row {
  display: flex;
}

.crossword-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  font-size: 18px;
}

.black-cell {
  background-color: #333;
  color: #fff;
}

/* Styling pour les indices des mots */
.clues {
  margin-left: 20px;
}

.across-clues,
.down-clues {
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.clue {
  margin-bottom: 5px;
}

.clue-number {
  font-weight: bold;
}

/* Styling pour les cases de lettres éditables (à personnaliser en fonction de vos besoins) */
input[type=text] {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling pour les cases de lettres correctes (à personnaliser en fonction de vos besoins) */
.correct-letter {
  background-color: lightgreen;
}

/* Styles pour le conteneur principal */
.jqr-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

/* Styles pour le contenu */
.jqr-content {
  text-align: center;
  flex-grow: 1; /* Le contenu peut se développer pour remplir l'espace disponible */
  overflow: auto; /* Ajout de défilement lorsque le contenu dépasse */
}

.jqr-content p {
  font-size: 18px;
  line-height: 1.6;
  color: rgba(0, 1, 0, 0.8078431373);
  margin-bottom: 20px;
}

/* Styles pour afficher les réponses */
.jqr-content div {
  font-size: 16px;
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

/* Styles pour le bouton */
.jqr-content button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.jqr-content button:hover {
  background-color: #45a049;
}

/* Styles pour les en-têtes de catégorie */
.jqr-category-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.jqr-category-divider {
  width: 80%;
  height: 2px;
  background-color: #ccc;
  margin: 0 auto;
}

.img-artist {
  border-radius: 10px;
}

@media (max-width: 600px) {
  .jqr-container {
    margin: 10px;
    height: auto;
  }
}

/*# sourceMappingURL=index.css.map */
