footer {
  background-color: #ebebeb;
  color: #000100ce;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  width: 100%;
}

@media (max-width: 800px) { 
  footer{
    position: relative;
  }
 }

