/* Styles pour le conteneur principal */
.jqr-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

/* Styles pour le contenu */
.jqr-content {
  text-align: center;
  flex-grow: 1; /* Le contenu peut se développer pour remplir l'espace disponible */
  overflow: auto; /* Ajout de défilement lorsque le contenu dépasse */
}

.jqr-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #000100ce;
  margin-bottom: 20px;
}

/* Styles pour afficher les réponses */
.jqr-content div {
  font-size: 16px;
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

/* Styles pour le bouton */
.jqr-content button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.jqr-content button:hover {
  background-color: #45a049;
}

/* Styles pour les en-têtes de catégorie */
.jqr-category-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.jqr-category-divider {
  width: 80%;
  height: 2px;
  background-color: #ccc;
  margin: 0 auto;
}

/* Styles responsives */
@media (max-width: 600px) {
  .jqr-container {
    margin: 10px;
    height: auto; /* Annulez la hauteur fixe pour permettre un redimensionnement automatique */
  }
}
